<div class="grid grid-cols-4">
    <!-- sidebar -->
    <sidebar class="mr-6"></sidebar>
    <!-- cards -->
    <div class="col-span-3 grid grid-cols-3 m-4">
        <!-- card -->
        <div class="border  border-color1 border-x-2 px-1 overflow-hidden rounded-md grid grid-rows-auto">
            <!-- image and features part -->
            <div class="grid">
                <!-- row-1 -->
                <div>
                    <!-- title -->
                    <h2 class="text-center font-mainFont text-base font-semibold  text-color1 p-1">TITLE</h2>

                </div>
                <!-- row-2 -->
                <!-- image -->
                <div class="relative">
                    <img class=" rounded-lg object-fill" src="assets/images/img.jpg">
                    <a class="bg-white px-1 absolute right-1 bottom-1 text-sm font-semibold text-blue-950 border-2 border-blue-400 rounded-2xl"
                        href="#">Source url</a>
                </div>
                <!-- row-3 -->
                <!-- details-part -->
                <div class="p-1 border-b-1 border-black">
                    <ul class="flex justify-around gap-1 items-center text-center font-secondFont text-lg">

                        <li
                            class=" border-2 border-white font-semibold text-yellow-300  rounded-3xl p-1 bg-color1 text-sm ">
                            Health score:
                            45
                        </li>
                        <li
                            class="border-2 border-white font-semibold text-yellow-300  rounded-3xl p-1 bg-color1 text-sm">
                            expensive</li>
                        <li
                            class="border-2 border-white font-semibold text-yellow-300  rounded-3xl p-1 bg-color1 text-sm ">
                            Ready minute:
                            45
                        </li>
                    </ul>
                </div>
            </div>
            <!-- summary -->
            <div class="h-40 italic from-color1 to-color2">
                <div class="overflow-y-scroll scrollbar scrollbar-thumb-rounded scrollbar-w-1
                      scrollbar-corner-rounded-full scrollbar-track-transparent scrollbar-thumb-color1 max-h-full">
                    <h2 class="text-center">Summary</h2>
                    <p class="text-base font-secondFont p-2 text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisi cing elit. Eveniet aperiam neque architecto
                        expedita consectetur impedit, a ut qui. Modi sint quas i ducimus labore, reprehenderit
                        recusandae saepe quia nemo earum accusamus?Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Laudantium necessitatibus nulla nisi, possimus quibusdam dolores ex! Illo, quam ut eum
                        fugit aut, non, cupiditate nisi quas similique omnis voluptate praesentium?
                    </p>
                </div>
            </div>
        </div>




    </div>
</div>